<section id="Projects" class="mb-8" >
  <a class="opacity-25" href="#footer"><img src="../../assets/arrow.png" class="absolute w-10 right-2" alt=""></a>
    <h3 class="text-center mb-8   text-darkGrayishBlue text-3xl font-bold">My Projects</h3>

    <div class="relative shadow-lg container mb-4  flex flex-col gap-5 item-center p-8 mx-auto  space-y-0 md:space-y-0 md:flex-row  ">
      <div class=" relative flex flex-col text-center   item-center justify-center  space-y-5 mt-5  md:mt-0 md:w-1/2" >
        <span class="text-brightRed  text-2xl font-bold "> Latest projects</span>
        <p class="max-w-sm mx-auto text-center text-darkGrayishBlue  capitalize">
          I Make responsive websites and web apps using diverse coding languages and libraries. Dive into my portfolio for
          a glimpse of seamless digital experiences!"
        </p>
        <div class="flex justify-center gap-2">
          <a href="#" class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full hover:bg-brightRedLight">
            Contact Me</a>
  
        </div>
  
      </div>
      <div class=" relative flex flex-col items-center justify-center  md:w-9/12">
        <div class="flex flex-col  items-center gap-4 p-2 md:flex-row">
          <!-- Card 1 -->
          <div  *ngFor="let project of showingProjects; let i = index" [class.project-transition]="transitioning" [class.project-loaded]="!transitioning" class="max-w-sm rounded shadow-lg bg-gray-200 mb-4 ">
            <!-- Project Image -->
            <div class="overflow-hidden p-2 ">
              <img *ngIf="project.image" class="w-full h-auto bg-white object-cover scale" [src]="project.image" alt="Project Image">
              <!-- You can add a placeholder or alternative content here if no image is present -->
            </div>
      
            <!-- Project Details -->
            <div class="px-6 py-4 ">
              <div class="font-bold text-center text-xl mb-2">{{project.title}}</div>
              <!-- GitHub Button -->
              <div class="flex items-center justify-between">
                <a href="your_github_link" target="_blank" rel="noopener noreferrer"
                   class="inline-block bg-brightRedLight hover:bg-brightRed text-white font-bold py-2 px-4 rounded-full mr-2">
                  GitHub
                </a>
                <!-- Hosting Button -->
                <a href="your_hosting_link" target="_blank" rel="noopener noreferrer"
                   class="inline-block bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
                  Hosting
                </a>
              </div>
            </div>
          </div>
      
          <!-- Add more cards as needed -->
      
        </div>
        <div class="flex text-center mt-2 items-center justify-center gap-4">
          <div class="dot w-4 h-4 bg-brightRed rounded-full cursor-pointer scale" (click)="showProjects(0, 2)"></div>
          <div class="dot w-4 h-4 bg-brightRed rounded-full cursor-pointer scale" (click)="showProjects(2, 4)"></div>
          <div class="dot w-4 h-4 bg-brightRed rounded-full cursor-pointer scale" (click)="showProjects(4, 6)"></div>
        </div>
      </div>
      
    </div>
  </section>